/*IMPORTING BASIC FONTS===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/*RESETTING THE STYLE SHEET============*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 100vh;
  border: 1px solid red;
}

.panel {
  flex: 0.5;
  margin: 10px;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  position: relative;
}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}
